@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">Welcome <b>Analista @ViewData["Analista"]</b> </h1>

    <h2>Este é o site @ViewData["Message"]</h2>
   

    </div>

<address>
   <strong>More information:</strong>
   <a href="http://educandoweb.com.br">Educando web</a>
    <h3>Seu e-mail cadastrado é @ViewData["email"] </h3>

</address>
